.custom-md {
  h1 {
    @apply text-3xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      @apply transition -m-0.5 ml-[0.2ch] p-0.5 select-none opacity-0 no-underline !important;

      .anchor-icon {
        @apply mx-[0.45ch] !important;
      }
    }

    &:hover {
      .anchor {
        @apply opacity-100 !important;
      }
    }
  }

  a:not(.no-styling) {
    @apply relative bg-none link font-medium text-[var(--primary)]
        underline decoration-[var(--link-underline)] decoration-1 decoration-dashed underline-offset-4;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &:hover,
    &:active {
      @apply decoration-transparent;
      background: var(--btn-plain-bg-hover);
      border-bottom: 1px dashed var(--link-hover);
      text-decoration: none;
    }

    .katex-display-container {
        max-width: 100%;
        overflow-x: auto;
        margin: 1em 0;
    }
    
}
